<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <style>
    html,
    body {
      height: 100%;
    }

    .form-signin {
      max-width: 330px;
      padding: 1rem;
    }

    .form-signin .form-floating:focus-within {
      z-index: 2;
    }
    header h2 {
    position: absolute;        
    left: 50%;
    padding-top: 0px; 
    transform: translateX(-50%);
    }
  </style>
</head>
<body>

  <div class="container">
        <header class="d-flex flex-wrap  justify-content-center justify-content-md-between py-3 mb-5 border-bottom">
          <div>
            <h2 href="/">
                ยินดีต้อนรับสู่เว็ปของVEERKUNGZ0😎😎😎
            </h2>
          </div>
          <div class="col-md-3 text-end">
            <a type="button" class="btn btn-outline-primary me-2" href="login">Login</a>
            <a type="button" class="btn btn-primary" href="register">Sign-up</a>
          </div>
        </header>
      </div>

<main class="form-signin w-100 m-auto">
  <form action="{{ url_for('login') }}" method="POST">
    <h1 class="h3 mb-3 fw-normal">LOGIN ก่อนเข้าเว็ป!!!!!!</h1>
    <div class="form-floating">
      <input type="email" name="email" class="form-control" placeholder="Email" required>
      <label for="floatingInput">Email address</label>
    </div>
    <div class="form-floating my-2">
      <input type="password" name="password" class="form-control" placeholder="Password" required>
      <label for="floatingPassword">Password</label>
    </div>
    <button class="btn btn-primary w-100 my-4 py-2" type="submit">Sign in</button>
    <p class="mt-5 mb-3 text-body-secondary">ยังไม่มีบัญชีใช่ไหม? <a href="register">กดตรงนี้😘</a> เพื่อสมัคร</p>
  </form>
</main>
{% if message %}
<script>
    alert("{{ message }}");
</script>
{% endif %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>
</body>
</html>